# ignore dot files except .gitignore
.*
!.gitignore
install-docker-ubuntu.sh
*.html
generated_files
html_files
job.sh
weekend_job.sh
published_posts.sh
articles.md
config.py
__pycache__
convert_html_to_markdown